<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings from Imajine Software, <%= @contact.name %></h1>
    <p>
      Thanks for contacting us! We have received the following subject matter and message: <br> 
      <%= @subject %> <br>
      <%= @message %>
    </p>
    <p>We will be in touch within 24 hours or that's a 15% discount.</p>
    <p>
      In the meantime, you can briefly read about our services at <%= @url %>
    </p>
    
  </body>
</html>